.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url('https://raw.githubusercontent.com/MPR2014v8/savB/main/static/media/icons/menu-bar-green.png');
}

/* custom_styles.css */
.background-image {
  background-image: url('https://raw.githubusercontent.com/MPR2014v8/savB/main/static/media/images/handPhoneVerifly.png');
  background-size: auto; /* Adjust the image sizing */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  max-width: 100%;
  height: auto;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.navbar {
  background-color: #537fe7; /* Your desired color */
}

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  font-family: "Prompt", sans-serif;
}
.navbar {
  background-color: #11468F; /* Your desired color */
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

.navbar-nav .nav-link {
  color: #ffffff; /* Default link color */
}

/* Apply styles to navbar links on hover */
.navbar-nav .nav-link:hover {
  color: #64CCC5; /* Change link color on hover */
}

.text-nav {
  color: #ffffff;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
