{% extends 'base.html' %} {% block title %}บริการของเรา{% endblock %} {% block content %}

<section class="">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="https://raw.githubusercontent.com/MPR2014v8/savB/main/staticfiles/image/human-payment.jpg"
          alt="..."
        />
      </div>

      <div class="col-md-6">
        <h2 class="display-5 fw-bolder">
            บริการของเรา
        </h2>
        <br />
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione perspiciatis eos commodi harum aliquam assumenda ab quasi! Quae adipisci accusantium quia! Nulla cum sint asperiores facere soluta iusto suscipit sed!
        </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
