{% extends 'base.html' %} {% block title %}หน้าแรก{% endblock %} {% block content %}

<section class="">
  <div class="container px-4 px-lg-4 my-4">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="https://raw.githubusercontent.com/MPR2014v8/savB/main/static/media/images/human-payment.jpg"
          alt="..."
        />
      </div>

      <div class="col-md-6">
        <h2 class="display-5 fw-bolder">
          ห้ามซื้อขายออนไลน์โดยไม่ใช้ SavB. เด็ดขาด หากคุณไม่อยากโดนโกง!
        </h2>
        <br />
        <p class="lead">
          ด้วย SavB.
          คุณสามารถซื้อและขายอะไรก็ได้อย่างปลอดภัยโดยไม่ต้องเสี่ยงกับการปฏิเสธการชำระเงิน
          การชำระเงินที่ปลอดภัยอย่างแท้จริง
        </p>
        <br />
        <br />
        <div class="d-flex">
          <div class="p-2">
            <button class="btn btn-outline-success flex-shrink-0 btn-lg bg-sucess" type="button">
              <i class="bi bi-wallet2 me-1"></i>
              ซื้อสินค้า
            </button>
          </div>

          <div class="p-2">
            <button class="btn btn-outline-primary flex-shrink-0 btn-lg" type="button">
                <i class="bi bi-bag me-1"></i>
              ขายสินค้า
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-person-check"></i>
        </div>
        <h2 class="h4 fw-bolder">ป้องกันความเสี่ยง</h2>
        <p>
          ป้องกันความเสี่ยงจากการโอนเงินไปแล้วไม่ได้รับของโดยบริการของเราเป็นระบบชำระเงิน
        </p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-hand-thumbs-up"></i>
        </div>
        <h2 class="h4 fw-bolder">ป้องกันสินค้าไม่ตรงปก</h2>
        <p>
          สามารถเช็คสินค้าได้ก่อน หรือใช้บริการของเราหากของไม่ตรงตามรายละเอียด
          ใช้งานไม่ได้
        </p>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-box2"></i>
        </div>
        <h2 class="h4 fw-bolder">ป้องกันสินค้าตีกลับ</h2>
        <p>
          ลดความเสี่ยงเกิดการตีกลับสินค้า
          ช่วยให้ผู้ขายไม่ต้องเสียเงินค่าขนส่งฟรีจากการที่ผู้ซื้อ
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
